body{
	background:#CCC;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#wrapper{
	width: 1200px;
	border: 2px solid black;
	margin: 15px auto;
	overflow: hidden;
	padding: 10px;
}

#header{
	width: 100%;
	overflow: hidden;
}

#main_content{
	padding: 20px 5px;
}

.header_button{
	color: #FFF;
	background-color: #333;
	font-size: 25px;
	font-weight: bold;
	float: left;
	margin-left: 10px;
	padding: 5px;
	border: solid black 1px;
	border-radius: 5px;
}

.header_button:hover{
	cursor:pointer;
	color: #000;
	background-color: #DDD;
}

td{
	width:250px;
}

tr.form_header{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.boxes{
	display: block;
}

#continue_box.boxes{
	display: none;
}

.boxes ul{
	list-style-type: none;
}

text_form{
	font-size: 20px;
}

text_form:hover{
	cursor:pointer;
	color: #FFF;
}